nav{
    height: 8vh;
    color: #fff;
    width: 100vw;
    z-index: 1000;
    font-size: 0.9rem;
    position: fixed;
    background-color: #333;

}
 
section{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-inline:auto;
}

.nav_left{
    display: flex;
    width: 85%;


}

.nav_logo{
    height: 2.2rem;
}
.nav_links
{ margin-left: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.nav_links a{
    color: #fff;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 0.8rem;
    transition: 0.6s ease;

}
.nav_links a:hover{
    color:rgb(156,156, 156) ;
}
.nav_right{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

}
